.profile__content {
    border-radius: 3px;
    width: 85%
}


.profile__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    background-color: rgb(51, 109, 171);

}

.profile-search__input {
    margin-right: 60px;
    padding-top: 25px;
}

.profile__title {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 60px;
    padding-top: 50px;
    margin-bottom: 50px;
}

.color__wrapper {
    background-color: rgba(255, 255, 255, 1);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px;
}

.profile__inner {
    display: flex;
    justify-content: space-between;
    margin: 15px 50px 0px 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255);
    border-radius: 3px;
}

.profile-text__info {
    width: 60%;
    margin: 0 auto;
    padding-left: 15%;
}

.title__info {
    color: rgb(27, 36, 99);
    font-size: 28px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    /*margin-top: 10px;*/
    /*margin-bottom: 10px;*/
}

.profile___info-descr li {
    list-style-type: none;
    line-height: 35px;
    opacity: 0.5;
    color: #202020;
    font-weight: 600;
    font-size: 16px;
}

.profile___info-descr li b {
    color: #202020;
    font-weight: 700;
    font-size: 16px;
    opacity: 1;
}


.profile__photo-box {
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 50px;
    position: relative;
}

.profile__photo img {
    border-radius: 3px;

}

.profile__photo-btn .btn {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.status-form{
    display: flex;
    justify-content: space-between;
}