.posts{
    display: flex;
    justify-content: space-between;
}
.post-text{
    margin-left: 50px;
    margin-bottom: 40px;
    padding-bottom: 30px;
    line-height: 50px;
    color: #202020;
    font-weight: 400;
    font-size: 18px;
}

.post__icon-logo img{
    border-radius: 50%;
    margin-right: 20px;
    max-width: 50px;
    position: absolute;
}

.post{
    position: relative;
    margin-left: 70px;
}

.delete__post-btn{
    margin-right: 62px;
}