.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    grid-area: header;
    margin-bottom: 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
}
.header-logo{

}
a {
    text-decoration:none;
}

.login {
    margin-right: 44px;
    font-weight: 600;
    color: white;
}

.login:hover {
    opacity: 1;
    transition: all .3s;
    font-weight: 900;
}


.logout {
    color: #250F8A;
    font-weight: 600;
    background-color: #fff;
}

.header-btn{
display: flex;
}


.user__name{
    margin-right: 15px;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
