.posts__inner{
    margin-bottom: 40px;
}

.posts__box{
    margin-left: 50px;
    margin-right: 50px;
    background-color: #f4f9FD;

}
.posts-title {
    color: #202020;
    font-size: 25px;
    line-height: 45px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 50px;
    margin-bottom: 15px;
    padding-top: 40px;
}

.row{
    margin-left: 40px;
    margin-right: 40px;
}

.input-field{
    display: flex;
}
.post-btn{
    color: #250F8A;
    font-weight: 600;
}