
.user-posts {
    padding: 40px 0;
}

.user-posts__links {
    display: flex;
    margin-bottom: 20px;
}

.user-posts__link-item::after {
    content: "/";
    margin-left: 3px;
    margin-right: 4px;
}

.user-posts__link-item:last-child::after {
    display: none;
}

.user-posts__link {
    color: black;
}

.user-posts__link.active {
    color: #808080;
    pointer-events: none;
}

.user-posts__link.inform {
    color: #d34b4b;
}

.user-posts__title {
    text-align: center;
    font-size: 25px;
    line-height: 40px;
}

.user-posts__btn-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-posts__btn {
    background: #00b8e6;
    border: none;
    border-radius: 10px;
    padding: 15px 10px;
    color: white;
    outline: none;
    font-weight: 700;
    cursor: pointer;
}

.user-posts__btn:hover {
    background: #0199bf;
    transition: 0.3s all;
}

.user-posts__btn.disabled {
    pointer-events: none;
    background: rgba(0, 184, 230, 0.68);
}

.user-posts__items {
    margin: 0 auto;
    width: 100%;
}

.user-posts__item {
    margin-bottom: 10px;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    background-color: white;
}

.user-posts__item-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.user-posts__item-img {
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}
.name-email{
    display: flex;
    flex-direction: column;
}
.user-posts__item-email{
    font-size: 12px;
    color: #808080;
}
.user-posts__item-date {
    font-size: 12px;
    color: #808080;
    margin-left: auto;
}

.user-posts__item-user {
    font-size: 18px;
}

.user-posts__item-content {
    display: flex;
    justify-content: space-between;
}
.user-posts__item-content-img{
    width: 50%;
}
.user-post__item-content-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.user-posts__item-text {
    width: 100%;
}
.user-posts__btn-section{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.user-posts__item-btn {
    background: transparent;
    width: 50px;
    border: none;
    color: #d34b4b;
    outline: none;
    cursor: pointer;
}

.user-posts__item-btn:hover {
    transition: 0.3s all;
}