
.form__inner {
    padding: 40px 40px 10px;
    margin: 0 auto;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.form__input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(29, 27, 49, 0.4);
    border-radius: 10px;
    margin-bottom: 30px;
    outline: none;
}

.form__input.textarea {
    resize: none;
    height: 100px;
}

.form__input.validation {
    border: 3px solid #d34b4b;
    transition: 0.3s all;
}

.form__button {
    background: #1d1b31;
    border: none;
    border-radius: 10px;
    padding: 15px 5px;
    width: 100%;
    color: white;
    outline: none;
    font-weight: 700;
    cursor: pointer;
}

.form__button:hover {
    background: #0199bf;
    transition: 0.3s all;
}

.form__button.disabled {
    pointer-events: none;
    background: rgba(0, 184, 230, 0.68);
}

.posts {
    padding: 40px 0;
}

.posts__links {
    display: flex;
    margin-bottom: 20px;
}

.posts__link-item::after {
    content: "/";
    margin-left: 3px;
    margin-right: 4px;
}

.posts__link-item:last-child::after {
    display: none;
}

.posts__link {
    color: black;
}

.posts__link.active {
    color: #808080;
    pointer-events: none;
}

.posts__link.inform {
    color: #d34b4b;
}

.posts__title {
    text-align: center;
    font-size: 25px;
    line-height: 40px;
}

.posts__btn-section {
    width: 100%;
    display: flex;
    justify-content: center;
}

.posts__btn {
    background: #00b8e6;
    border: none;
    border-radius: 10px;
    padding: 15px 10px;
    color: white;
    outline: none;
    font-weight: 700;
    cursor: pointer;
}

.posts__btn:hover {
    background: #0199bf;
    transition: 0.3s all;
}

.posts__btn.disabled {
    pointer-events: none;
    background: rgba(0, 184, 230, 0.68);
}

.posts__items {
    margin: 0 auto;
    width: 100%;
}

.posts__item {
    margin-bottom: 10px;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    background-color: white;
}

.posts__item-head {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.posts__item-img {
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}

.posts__item-date {
    font-size: 12px;
    color: #808080;
    margin-left: auto;
}

.posts__item-user {
    font-size: 18px;
}

.posts__item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.posts__item-text {
    padding-left: 70px;
    width: 100%;
}

.posts__item-btn {
    background: transparent;
    border: none;
    color: #d34b4b;
    outline: none;
    cursor: pointer;
    align-self: flex-end;
}

.posts__item-btn:hover {
    transition: 0.3s all;
}