* {
  box-sizing: border-box;
  /* теперь padding не расширяют container */
}

body{
  /* max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; */
  font-size: 15px;
  line-height: 24px;
  background-image: url(images/header-bg.jpg);
  min-height: 793px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

