.dialogs__content {
    /*background-color: white;*/
    /*border-radius: 3px;*/
    width: 80%;
}

.dialogs__inner{
    display: flex;
    justify-content: space-between;
}

.dialogs__list{
    background-color: white;
    border-radius: 3px;
    height: 600px;
    margin-left: 0px;
    margin-bottom: 25px;
    margin-right: 15px;
    color: #202020;
    font-weight: 400;
    font-size: 18px;
    width: 50%;
}

.collection{
    margin: 0;
}
.dialog-user{

    position: relative;
    margin-left: 70px;
}

.dialog-user__avatar img{
    border-radius: 50%;
    max-width: 40px;
    position: absolute;
}


.dialog-user.collection-item.active{
    background-color: rgba(251, 192, 45, 0.75);
    font-size: 20px;
    color: #250F8A;
}
.dialog-user__name{
    padding-left: 50px;
    line-height: 40px;
    color: #202020;
}


.dialog__messages{
    overflow: auto;
    height: 500px;
}
::-webkit-scrollbar{
    width: 0px;
}


.dialog__window{
    margin-right: 15px;
    margin-bottom: 25px;
    width: 50%;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.46);
    position: relative;

}
.chat__inner{
    margin: 2%;
}

.my__message {
    display: flex;
    justify-content: flex-end;
}

.my__message span{
    background-color: rgba(250, 117, 100, 0.78);
    color: #250F8A;
    font-weight: 600;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 85%;
}
.friend__message{
    background-color: rgba(251, 192, 45, 0.9);
    color: #250F8A;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 15px;
    line-height: 50px;
}


.dialog__message-form {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    border-radius: 3px;
}

.dialog__message-form-inside{
    margin-left: 10px;
    margin-right: 10px;
}

#textarea2 {
    margin-left: 10px;
}
.message-btn {
    color: #250F8A;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
}
